<app-header></app-header>

<div>

<div class="container" [hidden]="!isUserLoggedIn()" *ngIf="actividad" >
 
  <div class="row">
    <div class="col s12 m6 l3">
        <h6>HORA INICIO(*)</h6>
    </div>
    <div class="col s12 m6 l3">
        <h6>HORA FIN(*)</h6>
    </div>
    <div class="col s12 m6 l3">
      FECHA DESDE
    </div>
    <div class="col s12 m6 l3">
      FECHA HASTA
    </div>

  </div>
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="input-field">
        <mat-select   id="horaInicio"
                [(ngModel)]="actividad.horaInicio"
                placeholder="Seleccione..."
                floatPlaceholder="never">
          <mat-option [value]="number" *ngFor="let number of numberHora" >{{ number }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="input-field">
        <mat-select id="horaFin"
                [(ngModel)]="actividad.horaFin"
                placeholder="Seleccione..."
                floatPlaceholder="never">
          <mat-option [value]="number" *ngFor="let number of numberHora" >{{ number }}</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="col s12 m6 l3">
                <input matInput [matDatepicker]="pickerDesde"
                        style="width: 120px;" name="pickerDesde" id="pickerDesde"
                        [min]="minDate" [max]="maxDate" [value]="actividad.pickerDesde"
                        [(ngModel)]="actividad.pickerDesde"
                        placeholder="Seleccione..." floatPlaceholder="never"
                        floatPlaceholder="never">
                        <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                        <!--button matSuffix [matDatepickerToggle]="pickerDesde"></button-->
              <mat-datepicker touchUi="true"  #pickerDesde></mat-datepicker>
   </div>
      <div class="col s12 m6 l3">
                <input matInput [matDatepicker]="pickerHasta"
                        style="width: 120px;" name="pickerHasta" id="pickerHasta"
                        [min]="minDate" [max]="maxDate" [value]="actividad.pickerHasta"
                        [(ngModel)]="actividad.pickerHasta"
                        placeholder="Seleccione..."
                        floatPlaceholder="never">
                        <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                        <!--button matSuffix [matDatepickerToggle]="pickerHasta"></button-->
              <mat-datepicker touchUi="true"  #pickerHasta></mat-datepicker>
      </div>

  </div>
    <div class="row">
      <div class="col s12 m12 l12">
          <h6>DIAS</h6>
      </div>
    </div>
  <div class="row">
    <div class="col s12 m12 l12">
        <section >
          <mat-checkbox [checked]="actividad.dias[0]" [(ngModel)]="actividad.dias[0]">Lunes</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[1]"  [(ngModel)]="actividad.dias[1]">Martes</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[2]"  [(ngModel)]="actividad.dias[2]">Miercoles</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[3]"  [(ngModel)]="actividad.dias[3]">Jueves</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[4]"  [(ngModel)]="actividad.dias[4]">Viernes</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[5]"  [(ngModel)]="actividad.dias[5]">Sabado</mat-checkbox>
          <mat-checkbox [checked]="actividad.dias[6]"  [(ngModel)]="actividad.dias[6]">Domingo</mat-checkbox>
        </section>
    </div>
    </div>
   <div class="row">
    <div class="col s12 m6 l3">
        <h6>PERIODO</h6>
    </div>

    <div class="col s12 m6 l3">
        <h6>TIPO DE ACTIVIDAD</h6>
    </div>
    <div class="col s12 m6 l3">

    </div>

  </div>

  <div class="row">

     <div class="col s12 m6 l3">
        <mat-select id="periodos"
                [(ngModel)]="actividad.periodo"
                placeholder="Seleccione..."
                style="min-width: 200px;"
                class="browser-default black-text browser-default"
                floatPlaceholder="never">
          <mat-option [value]="p" *ngFor="let p of periodos">{{ p }}</mat-option>
        </mat-select>

    </div>
    <div class="col s12 m6 l5">
        <mat-select   id="tipoDeActividad"
                [(ngModel)]="actividad.tipoActividad"
                placeholder="Seleccione..."
                class="browser-default black-text browser-default"
                style="min-width: 200px;"
                floatPlaceholder="never" >
          <mat-option  [value]="t.nombre"
                  *ngFor="let t of tiposDeActividades | async "
                  [class.green]="t.estado == '1'"
                  [class.yellow]="t.estado == '2'"
                  [class.red]="t.estado == '3'">{{t.nombre}}
          </mat-option>
        </mat-select>

    </div>
   <div class="col s12 m6 l3">


    </div>
  </div>
    <div class="row">
      <div class="input-field col s6">
            <input placeholder="Nombre de la Actividad (*)"
                    id="descripcion" type="text" name="descripcion"

                   [(ngModel)]="actividad.descripcion"
                   
            
                   class="validate">
            <label for="descripcion"></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
            <input placeholder="Referente/Profesor (*)"
                    id="nombre" type="text" name="nombre"
                    [(ngModel)]="actividad.nombre"
                   class="validate">
            <label for="nombre"></label>
      </div>
    </div>
  <div class="row">
    <div class="col s12 m6 l4">
        <h6>AULA(*)</h6>
    </div>
      <div class="col s12 m6 l4">
        <h6>ESTADO(*)</h6>
      </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
        <mat-select   id="zonaAula"
                [(ngModel)]="actividad.zonaAula"
                placeholder="Seleccione..."
                class="browser-default black-text browser-default"
                style="min-width: 250px;"
                floatPlaceholder="never" >
          <mat-option  *ngFor="let a of aulas | async" [value]="a.nombre">{{a.nombre}}
          </mat-option>
        </mat-select>
    </div>
    <div class="col s12 m6 l4">
        <mat-select   id="estadoAct"
                [(ngModel)]="actividad.estadoActividad"
                placeholder="Seleccione..."
                class="browser-default black-text browser-default"
                style="min-width: 250px;"
                floatPlaceholder="never" >
          <mat-option   *ngFor="let a of estadoActividades | async" [value]="a.nombre"
           [class.green]="a.estado == '1'" [class.yellow]="a.estado == '2'" [class.red]="a.estado == '3'">{{a.nombre}}
          </mat-option>
        </mat-select>

    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <a (click)="update(actividad)"
          class="waves-effect waves-light indigo darken-1 btn">OK</a>

    </div>
    <div class="col s1">
      <a (click)="cancel()" class="waves-effect waves-light indigo darken-1 btn">CANCEL</a>
    </div>
  </div>
</div>
