
<form [formGroup]="actividadService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>
      <div class="controles-container">

        <input type="hidden" formControlName="$key">

        <mat-form-field>
          <input formControlName="nombre" matInput placeholder="Nombre Actividad*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="referente" matInput placeholder="Referente/Profesor*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field>

        <!--mat-form-field>
          <input formControlName="aula" matInput placeholder="Aula*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field-->

        <mat-form-field>
            <mat-select formControlName="aula" placeholder="Seleccione Aula*">
              <ng-container *ngFor="let aula of aulaService.array">
                <mat-option value="{{aula.nombre}}">{{aula.nombre}}</mat-option>
              </ng-container>
            </mat-select>
        </mat-form-field>

         <!--mat-form-field>
            <input type="text" placeholder="Aula" matInput formControlName="aula" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let aula of filteredAulas | async" [value]="aula">
                  {{aula.nombre}}
                </mat-option>
              </mat-autocomplete>
        </mat-form-field-->

        
        <mat-form-field>
          <mat-select formControlName="tipo" placeholder="Tipo Actividad*">
            <ng-container *ngFor="let tipo of tipoActividadService.array">
              <mat-option value="{{tipo.nombre}}">{{tipo.nombre}}</mat-option>
            </ng-container>
          </mat-select>
      </mat-form-field>
        
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="fechaDesde" matInput [matDatepicker]="picker" placeholder="Fecha Desde">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="fechaHasta" matInput [matDatepicker]="picker2" placeholder="Fecha Hasta">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
      
        <mat-form-field>
          <mat-select formControlName="horaInicio" placeholder="Hora Inicio">
            <ng-container *ngFor="let hora of numberHora">
                <mat-option value="{{hora}}">{{hora}}</mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="horaFin" placeholder="Hora Fin">
              <ng-container *ngFor="let hora of numberHora">
                <mat-option value="{{hora}}">{{hora}}</mat-option>
              </ng-container>
            </mat-select>
        </mat-form-field>

        <div formGroupName="dias">
          Dias
          
            <section >
                <mat-checkbox formControlName="lu" >Lu</mat-checkbox>
                <mat-checkbox formControlName="ma">Ma</mat-checkbox>
                <mat-checkbox formControlName="mi">Mi</mat-checkbox>
                <mat-checkbox formControlName="ju">Ju</mat-checkbox>
                <mat-checkbox formControlName="vi">Vi</mat-checkbox>
                <mat-checkbox formControlName="sa">Sa</mat-checkbox>
                <mat-checkbox formControlName="do">Do</mat-checkbox>
              </section>
           
        </div>
  
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="actividadService.form.invalid">Enviar</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
