<!--app-header></app-header-->
<form [formGroup]="eventoService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="nombre" matInput placeholder="Nombre Evento*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="referente" matInput placeholder="Referente/Profesor*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="aula" matInput placeholder="Seleccione Aula*">
          <mat-error>Este Campo es obligatorio.</mat-error>
        </mat-form-field>
        
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
      
        <!--mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of departmentService.array">
              <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field-->
        <!--mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field-->
        
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="eventoService.form.invalid">Enviar</button>
          <button mat-raised-button color="warn" (click)="onClear()">Limpiar</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
