<app-header></app-header>

<mat-card class="example-card">

<mat-card-content>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Periodo Column -->
      <ng-container matColumnDef="periodo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Período</th>
          <td mat-cell *matCellDef="let row">  {{row.periodo}}</td>
      </ng-container>
  
      <!-- Hora Inicio Column -->
      <ng-container matColumnDef="horainicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicio</th>
        <td mat-cell *matCellDef="let row">  {{row.horaInicio}}</td>
      </ng-container>

      <!-- Hora Fin Column -->
      <ng-container matColumnDef="horafin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Fin</th>
        <td mat-cell *matCellDef="let row">  {{row.horaFin}}</td>
      </ng-container>
  
      <!-- Actividad Column -->
      <ng-container matColumnDef="actividad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actividad </th>
        <td mat-cell *matCellDef="let row">  {{row.descripcion}} </td>
      </ng-container>
  
      <!-- Tipo Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
        <td mat-cell *matCellDef="let row">  {{row.tipoActividad}} </td>
      </ng-container>
  
      <!-- Profe Column -->
      <ng-container matColumnDef="profe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prof./Ref. </th>
        <td mat-cell *matCellDef="let row">  {{row.nombre}} </td>
      </ng-container>
  
      <!-- Aula Column -->
      <ng-container matColumnDef="aula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aula </th>
        <td mat-cell *matCellDef="let row"> {{row.zonaAula}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones" >
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary"
                  matTooltip="Editar Actividad"
                  (click)="editarActividad(row.id)">
                  <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>
  
  
      <!-- Estado Column -->
      <!--ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row">  {{row.estadoActividad}} </td>
      </ng-container-->
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100, 150]"></mat-paginator>
  </div>
  
</mat-card-content>
</mat-card>


