
<nav class="nav-extended yellow accent-4"><!-- valores anteriores black -->
  <div class="nav-wrapper">
    <div class="brand-logo"><img src="./assets/logo-faea.png"></div>
    

    
    <a routerLink="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="right indigo-text" id="hoyuppercase"> {{hoy |uppercase}}</div>    
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink=""><i class="material-icons">Inicio</i></a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid" >

    <table class="striped centered" >
  <thead>
    <tr class="texto-titulo-tabla">
      <th>HORARIO</th>
      <th>ACTIVIDAD</th>
      <th>TIPO</th>
      <th>PROFESOR</th>
      <th>AULA</th>
      <th>ESTADO</th>
    </tr>
    <tr><th colspan="6"><marquee bgcolor="#FFFFFF" width="50%" scrolldelay="100" scrollamount="5" direction="left" loop="infinite">Bienvenidos a FAEA Eventos!</marquee></th></tr>
   
  </thead>
  
  <tbody>
     
     <tr  *ngFor="let actividad of actividades ">
      <!-- Tratando de definir un observable que cambie el fondo de la fila que este cursando ahora mismo.   -->
      <td>{{actividad.horario}}</td>
      <td> {{actividad.actividad}}</td>
      <td class="green">
       {{actividad.tipo}}
      </td>
      <td>
       {{actividad.profesor}}
      </td>
      <td>{{actividad.aula}}</td>
      <td>
        <div class="estado elemento-tabla"
        [class.green] = "actividad.estado == 'Normal'"
        [class.yellow] = "actividad.estado == 'Se Cambio'"
        [class.red] = "actividad.estado == 'Suspendida'">
         {{actividad.estado}}
        </div>
      </td>
    </tr>
  </tbody>
</table>


</div>

